body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: $blanco;

    // .central{
    //     max-width: 1200px;
    //     margin: 0 auto;
    // }
}

.central{
    max-width: 1200px;
    margin: 0 auto;
}