
// colores
$blanco:#fff;
$gris: gray;
$negro: #000;


//font-family
$roboto: 'Roboto Mono', monospace;


//font-weight
$light:300;
$normal:400;
$bold:700;


//font-size
$xxl: 4.5rem;
$xl: 3rem;
$large: 2rem;
$md: 1rem;
$sm: 0.5rem;
