main{
    margin-top: 5rem;
    
    .centralTit{

    }
    .centralTarjetas{

        .tarjetasCard{


            .cardImg{
                width: 90%;
                height: auto;
            }
        }
    }
}